@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    
        <div id="wrapper" class=" container">
            <h3>Error.</h3>
            <h4>An error occurred while processing your request.</h4>
            <h4>Please Go Back and Try Again.</h4>
            <form class="form-inline" method="post" action="~/home/Register">
                <button class="btn btn-inverse" type="submit" value="Error Occurred">Go back.</button>
            </form>
        </div>

    

</body>
</html>
