@{
    ViewBag.Title = "SearchedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/themes/css/flexslider.css" rel="stylesheet" />
}
@using Term_Project_View.Models;
@using System.Collections;
@model System.Collections.Generic.List<Item>


<div id="wrapper" class="container">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Picture</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Brand</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in Model)
                {
                    <tr>

                        <td>@item.Id</td>
                            
                            <td><a href="/Product/Pdetails?id=@item.Id"><img src="~/Files/@item.picturePath" width="94" height="94" /></a></td>
                            <td>@item.ItemName</td>
                            <td>@item.description</td>
                            <td>$@item.price</td>
                            <td>@item.brand</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>

</div>



